<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <div class="background-blur"></div>
    <div class="dashboard-container">
    <h1>Welcome, {{ current_user.username }}!</h1>

    <form action="{{ url_for('choose_game') }}" method="get">
        <button type="submit">Wybierz grę</button>
    </form>

    <form action="{{ url_for('logout') }}" method="get">
        <button type="submit">Wyloguj się</button>
    </form>
    </div>
    </body>
    
</body>
</html>
